*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.mypointer{
    cursor: pointer;
}
button{
    font-size: 14px;
    background-color: #000;
    color: #fff;
    font-weight: 700;
    padding: 0.75rem 2rem;
}
.oursmallmainheading{
    font-weight: 700;
    text-transform: uppercase;
}
.playfair-display-font {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
ul{
    padding-left: 0;
    margin-bottom: 0;
}
li{
    list-style: none;
}
/* header start */
.toppestnav{
    text-align: center;
    background-color: black;
    color: #fff;
    font-weight: 500;
    padding: 0.5rem;
}
.toppestnav p{
    margin-bottom: 0;
    font-size: 14px;
}


.middlenav{
    position: sticky;
    top: 0;
    padding: 0.5rem 0;
    z-index: 99;
    background: #fff;
}
.middlenav i{
font-size: 1.25rem;
margin-left: 1.5rem;
}
@media (max-width:768px) {
    .middlenav i{
margin-left: 1rem;
}
}
nav{
    background-color: #000;
padding: 1rem 0;
}

nav li{
    position: relative;
    /* padding-bottom: 5px; */
}
nav li::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 0;
    height: 2px;
    transition: all 0.3s;
}
nav li:hover::before{
    width: 100%;
}
nav a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}
nav p{
    color: #fff;
    margin-bottom: 0;
    font-size: 14px;
    cursor: pointer;
}
nav p i{
   background-color: #fff;
   color: #000;
   padding:0.35rem 0.5rem;
   border-radius: 50%;
   font-size: 1.25rem;
   margin-right: 0.5rem;
}
nav .container > div{
    transform: translateX(50%);
}

/* header end */



/* category menu */

.categorymenu{
    width: 300px;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    left: -350px;
    top: 0;
    overflow-y: scroll;
 z-index: 100;
    transition: 0.3s;
}
.categorymenuclose{
    display: flex;
    align-items: center;
justify-content: space-between;
padding: 0.5rem 1rem;
}
.categorymenuclose i{
    font-size: 1.5rem;
    cursor: pointer;
}
.categorymenuclose p{
font-weight: 700;
}
.categorymenu li{
    display: flex;
    align-items: center;
    justify-content: space-between;
padding:1rem;
cursor: pointer;
}
.categorymenu li img{
  width:40px;
}
.categorymenu li:hover{
    background-color: whitesmoke;
}
.categorymenu li p{
margin-bottom: 0;
margin-left: 1rem;
font-weight: 700;
text-transform: uppercase;
}

.category-list {
    padding: 0;
    margin: 0;
}
.dropdown-toggle::after {
    display: none !important;
}
.dropdown-toggle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;     
}

.arrow {
    transition: 0.3s;
}
.has-dropdown {
    flex-direction: column;
}
.has-dropdown.active .submenu {
    max-height: 600px;
}
.has-dropdown.active .arrow {
    transform: rotate(90deg);
}
.has-dropdown {
    flex-direction: column;
}
.dropdown-toggle img {
    width: 40px;
    min-width: 40px;
}

.dropdown-toggle p {
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
}
.dropdown-toggle .arrow {
    margin-left: auto;
    margin-right: 10px;
    transition: 0.3s;
}
.submenu {
    list-style: none;
    /* padding-left: 1.5rem; */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}
.submenu li {
    display: flex;
    align-items: center;
    padding: 0.6rem 0;
    font-weight: 600;
}

.submenu li img {
    width: 35px;
    margin-right: 10px;
}

.submenu li:hover {
    background-color: whitesmoke;
    cursor: pointer;
}
@media (max-width: 576px) {
    .dropdown-toggle img {
        width: 34px;
        min-width: 34px;
    }
    .submenu {
        padding-left: 45px;
    }
}

/* menu */
.menu{
    position: fixed;
    top: -350px;
    background-color: #000;
    color: #fff;
width: 100%;
height: auto;
z-index: 100;
padding-top: 1rem;
transition: 0.3s;
}
.menu li{
    padding: 1rem ;
    border-bottom: 2px solid #fff;
}
.menuclosebtn{
    font-size: 2rem;
    margin-right: 1rem;
}
@media (min-width:992px) {
    .menu{
        display: none;
    }
}
/* banners */
.b1{
    background-image: url(../images/banner\ boy\ 2\ copy.png);
}
.b2{
    background-image: url(../images/fasion\ banner\ copy.png);
}
.b3{
    background-image: url(../images/jeans\ banner\ copy.png);
}
.banners{
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 70vmin;
}
.bannerscolor{
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    padding: 2.5rem 0;
}
.bannerscolor h1{
    font-size: 4rem;
    color: #fff;
text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
text-transform: uppercase;
}
.bannerscolor p{
    text-transform: uppercase;
    color: #f1f1f1;
text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
@media (max-width:768px) {
    .bannerscolor h1{
    font-size: 2rem;
   
}
.banners{
   height: auto;
}
}
/* @media (max-width:576px) {
    .banner{
   height: auto;
}
} */
/* category section of the home page */
.ctgtextdiv{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
   box-shadow: 0px 4px 16px rgba(128, 128, 128, 0.337);
    cursor: pointer;
    margin: 0.75rem;
}
.ctgtextdiv img{
transition: 0.3s;
}
.ctgtextdiv:hover img{
transform: scale(1.1);
}
.ctgtext{
   padding: 1rem;
    font-weight: 700;
    text-transform: uppercase;
   text-align: center;
}
 .ctgtext p{
  margin-bottom: 0;

 }
.autoplay .col-2{
    padding: 0 0.25rem;
}


/* product card */
.productcard > div{
  border: 1px solid rgba(128, 128, 128, 0.768);
  border-radius: 10px;
}
.productcard img{
  border-radius: 10px 10px 0 0; 
  border-bottom: 1px solid rgba(128, 128, 128, 0.768);;
}
.productcard > div:hover{
    box-shadow: 0px 4px 16px rgba(128, 128, 128, 0.337);
}
.productcardtext{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.productcardtext > div p:first-child{
  font-weight: 700;
  text-transform: capitalize;
   white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
.productcardtext > div p:last-child del{
  color: #797979;
}
.productcardtext > div p:last-child{
  color: #000;
  font-weight: 500;
}
.productcardtext i{
    background-color: #000;
    color: #fff;
    padding:0.75rem 1rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    font-size: 1.25rem;
}
.productcardwishlist{
    position: absolute;
    top: 1rem;
    right: 1rem;
  color: #000;
  font-size: 1.25rem;
}
@media (max-width:992px) {
    .productcardtext > div p:first-child{
        font-size: 14px;
        width:180px;
    }
}
@media (max-width:576px) {
    .productcardtext i{
        display: none;
    }
    .productcardtext > div p:first-child{
        width:120px;
    }
}
.productcardcategory{
    overflow-x: auto;
    scrollbar-width: none;
    
}
.productcardcategory ul li{
border: 1px solid #000;
padding: 0.25rem 0.5rem;
text-transform: uppercase;
min-width:max-content;
font-size: 14px;
}
.c_active{
    background-color: #000000;
    color: #fff;
}
/* footer */
footer{
    background-color: #e06c51;
}
footer h4{
    color: #000000;
text-decoration: underline;
text-underline-offset: 4px;
}
footer ul{
    line-height: 1.75;
}
footer ul li{
    width: fit-content;
    transition: 0.3s;
}
footer ul li:hover{
    transform: translateX(10px) !important;
}
footer ul li a{
    text-decoration: none;
    color: #000000;
    font-weight: 700;
}
footer .cntus i{
font-size: 1.25rem;
}
.iconss {
    display: flex;
    gap: 1rem;
}

.iconss i {
    width: 42px;
    height: 42px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    z-index: 1;
    cursor: pointer;
    font-size: 18px;
    overflow: hidden;
}
.iconss i::after{
    content: "";
    position: absolute;
top: 0;
left: 0;
height: 100%;
width: 0;
  background-color: rgba(0, 0, 0, 0.8);
border-radius: 50%;
transition: 0.3s;
 z-index: -1;
}
.iconss i:hover::after{
    width: 100%;
}
.bottomfooter{
    text-align: center;
    padding: 8px;
    background-color: #000000;

}
.bottomfooter a{
font-size: 14px;
    text-decoration: none;
    color: #fff;
}




/* About page */
.smallbanner{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.smallbanner > .container{
 position: absolute;
 /* top: 0;
 left: 0;
 height: 100%;
 width: 100%; */
}
.smallbanner h1{
    font-size: 4rem;
    color: #000;
text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
text-transform: uppercase;
}
.smallbanner span{
   color: #000;
}
.smallbanner p{
   color: #252525;
   margin-bottom: 0;
}
@media (max-width:768px) {
    .smallbanner h1{
    font-size: 2rem;
   
}
.smallbanner p{
font-size: 14px;
}
}

.about-list ul li{
display: flex;
gap: 1rem;
}

/* about services */
    .about-service .about-service-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-service .about-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 28.6rem;
    text-align: center;
}

.about-service .seperator {
    width: 1px;
    height: 12rem;
    background-color: rgba(224, 107, 81, 0.3);
    /* background: rgba(174, 28, 154, 0.1294117647); */
}
.wrapper-info{
    padding: 1rem 2rem;
}
.wrapper-info p {
    color: #797979;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 0;
}
.wrapper-info h5 {
   text-transform: uppercase;
   font-weight: 700;
}
@media (max-width:992px) {
    .about-service .about-service-section {
   flex-direction: column;
}
.about-service .seperator {
  display: none;
}
.about-service .about-wrapper {
    margin-bottom: 1rem;
    width: unset;
}
.wrapper-info{
    padding: 0;
}
}

/* testimonial */
    .tst_section{
        background-color: #f7d0c71f;
    }
    .divider {
    background: rgba(174, 28, 154, 0.08);
    width: 100%;
    height: 1px;
    border-radius: 50%;
    margin:0.75rem 0 1rem 0;
   
}
.testimonial-details{
    transform: translateY(-15px);
    color: #797979;
}
.testimonial-info-details h6{
font-weight: 700;
margin-bottom: 0;
}
.testimonial-info-details p{
font-size: 14px;
font-weight: 500;
 color: #797979;
}
.testimonial-info-details p span{
color: #e06c51;
}
.tst_div{
    border: 2px solid rgba(128, 128, 128, 0.1);
    padding: 1rem;
    border-radius: 10px;
     background-color: #ffffff;

}

/* terms and conditions */
.tcsection p{
color: #797979;
font-weight: 700;
}
.tcsection li{
font-size: 14px;
font-weight: 500;
list-style: disc;
color: #797979;
margin-left: 2rem;
}
.tcsection ul{
margin-bottom: 1rem;

}
.tcsection a{
    text-decoration: none;
}
.ppdiv{
    margin: 1.5rem 0; 
    width: fit-content;
    padding:2rem;
    border: 2px solid #e5e2e2;
    border-radius: 10px;
     box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}






/* shop page */
.filterbtn{
    font-weight: 700;
    font-size: 18px;
}
.filterdiv{
    width: 20vw;
   height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
    position: sticky;
top: 50px;
    left: 0;
background-color: #fff;
z-index: 90;
}
.productdiv{
    width: 80vw;
}
@media (max-width:992px) {
    .filterdiv {
        position: fixed;
        left: -350px;
        top: 0;
        width: 280px;
        height: 100vh;
        background: #fff;
        transition: left 0.3s ease;
        z-index: 999;
    }

    .filterdiv.active {
        left: 0;
    }
    .productdiv{
    width: 100vw;
}

}


.activediv{
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: #e06c51;
    text-decoration-thickness: 3px;
}

/* left of shop page */
.mainfilterlist > li{
    border-bottom: 2px solid black;
}
.mainfilterlist .bi-dash{
    display: none;
}
.dropdownicons i{
font-size: 1.5rem;
}
.sub-filterlist {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0 0;
    transition: all 0.4s ease;
}

.sub-filterlist.togglemylist {
    max-height: 300px; /* enough height for items */
    opacity: 1;
    padding-bottom: 1rem ;
}
.sub-filterlist li{
border: 1px solid #000;
padding: 0.25rem 0.5rem;
text-transform: uppercase;
min-width:max-content;
font-size: 14px;
}
.c_active{
    background-color: #000000;
    color: #fff;
}
.price-filter {
    flex-direction: column;
    gap: 10px;
}

.price-inputs {
    display: flex;
    gap: 10px;
    padding: 0 1rem;
}

.price-inputs input {
    width: 100%;
    padding: 6px;
    border: 1px solid #000;
    border-radius: 4px;
}

.apply-btn {
    padding: 6px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}




/* contact page */
form input, form textarea {
    border-radius: 0;
}

form input:focus,
form textarea:focus {
    box-shadow: none;
    border-color: #000;
}



/* login page  */
        .login-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: #f8f9fa;
}

.login-card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.login-img-wrapper img {
  height: 100%;
  object-fit: cover;
}

.login-form-wrapper {
  padding: 40px;
}

.brand-name {
  color: #ff6f00;
}

.close-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  font-size: 18px;
}

.form-control {
  height: 45px;
  border-radius: 6px;
}

.btn-primary {
  background-color: #ff6f00;
  border: none;
}

.btn-primary:hover {
  background-color: #e65c00;
}

.extra-links a {
  color: #555;
  text-decoration: none;
}

.register-link {
  color: #ff6f00;
  cursor: pointer;
  font-weight: 500;
}

.register-link:hover {
  text-decoration: underline;
}



/* wishlist page */
.wishlist-section {
  background-color: #f8f9fa;
}

.wishlist-card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s ease;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
}

.wishlist-card:hover {
  transform: translateY(-5px);
}

.wishlist-img {
  position: relative;
}

.wishlist-img img {
  width: 100%;
  /* height: 260px; */
  object-fit: cover;
}

.remove-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  /* background: #fff; */
  border: none;
  border-radius: 50%;
  padding: 6px 8px;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.remove-btn i {
  font-size: 14px;
}

.wishlist-content {
  padding: 15px;
  text-align: center;
}

.wishlist-content h6 {
  font-size: 15px;
  margin-bottom: 8px;
}

.price {
  font-weight: 600;
  margin-bottom: 12px;
}

.wishlist-actions button {
  font-size: 14px;
}

@media (max-width:576px) {
    .wishlist-content {
  padding: 0;
}
    .wishlist-content h6 {
         margin-bottom: 4px;
 padding: 6px 4px 0 4px;
}
}
/* cart page */
    .cart-section {
  background-color: #f8f9fa;
}
.cart-item{
    background-color: #fff;
}
.cart-img{
  width: 100%;
  border-radius: 8px;
}

.quantity-box{
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: fit-content;
}

.qty-btn{
  background: rgba(225, 225, 225, 0.3);
  border: none;
  color: #000;
  
  padding: 6px 12px;
  font-size: 18px;
  cursor: pointer;
}

.qty-input{
  width: 40px;
  text-align: center;
  border: none;
  outline: none;
}

.remove-btn-cart{
  background: none;
  border: none;
  color: #dc3545;
  font-size: 14px;
}

/* MOBILE REFINEMENTS */
@media (max-width: 576px){
  .cart-item{
    font-size: 14px;
  }

  .remove-btn-cart{
    padding: 6px 0;
  }
}


.cart-summary {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
}



/* checkout-section  */
 .checkout-section {
  background-color: #f8f9fa;
}

.checkout-box {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
  margin-bottom: 20px;
}

.checkout-box h5 {
  font-weight: 600;
}

.checkout-box .form-control {
  height: 45px;
}


/* ================= DASHBOARD ================= */

.user-dashboard {
  background: #f5f5f5;
}

.dashboard-container {
  display: flex;
  min-height: 100vh;
}

/* LEFT SIDEBAR */
.mainleftdiv {
  background-color: #000;
  width: 260px;
  padding: 30px 20px;
   
}



.mainleftdiv ul {
  list-style: none;
  padding: 0;
}

.mainleftdiv li {
  color: #fff;
  padding: 14px 10px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.mainleftdiv li:hover,
.mainleftdiv li.active {
  background: #e65c00;
}

/* RIGHT CONTENT */
.mainrightdiv {
  flex: 1;
  padding: 1rem;
}

#dashboardContent {
  background: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

#dashboardContent h2 {
  font-weight: 700;
}

.dashboard-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
  margin-top: 30px;
}

.dash-card {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  border-left: 4px solid #e65c00;
}

.dash-card h4 {
  font-size: 16px;
  margin-bottom: 8px;
}

.dash-card p {
  margin: 0;
  font-weight: 600;
}

/* RESPONSIVE */
@media(max-width: 768px){
  .dashboard-container{
    flex-direction: column;
  }
.mainleftdiv{
    width: 100%;
    padding: 0;
}
 .mainleftdiv li{
    border-radius: 0;
 }
}

/* ===== PROFILE SECTION ===== */

.profile-card {
  background: #fff;
  padding: 1rem;
  border-radius: 12px;

  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #e65c00;
}

.profile-info p {
  margin-bottom: 8px;
  font-size: 15px;
}

.profile-info strong {
  width: 120px;
  display: inline-block;
  color: #333;
}

.product-box{
    position: relative;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}
@media (max-width:375px) {
    .profile-info strong {
  display: inline;
 margin-right: 1rem;
}

}

/* Wishlist */
.wishlist-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    background: #fff;
    padding: 6px 8px;
    border-radius: 50%;
    color: #dc3545;
    font-size: 18px;
}

/* Bottom Bar */
.productcardtext{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #f8f9fa;
}

.product-title{
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}

.product-price{
    margin: 0;
    font-size: 13px;
}

/* Add to Cart */
.cart-btn{
    background: #000;
    color: #fff;
    padding: 8px 10px;
    border-radius: 6px;
    font-size: 16px;
}

/* Mobile Responsive */
@media(max-width:576px){
    .product-title{
        font-size: 13px;
    }
    .cart-btn{
        padding: 6px 8px;
        font-size: 14px;
    }
}

